<mat-form-field appearance="fill" id="input">
  <mat-label>Wyszukaj pogodę dla miasta</mat-label>
  <input matInput #cityName />
</mat-form-field>

<button
  mat-raised-button
  color="primary"
  id="button1"
  (click)="getCityInfo(cityName.value)"
>
  Wyszukaj
</button>
<div id="display">
  <h1 *ngIf="title">
    {{ title }}
  </h1>

  <p *ngFor="let w of weatherTable">
    {{ w.applicable_date }}<br />
    {{ w.weather_state_name }}<br />
    {{ w.the_temp }}<br />
    {{ w.wind_direction }}<br />
  </p>
</div>
